In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import shutil 
import glob
import json
import re
import cv2
from PIL import Image
from sklearn.metrics import mean_absolute_percentage_error
import seaborn as sns
%matplotlib inline

In [35]:
ROOT = '../'
IMG_DIR = os.path.join(ROOT, 'species_labelling', 'export_annotated_data')
CODE_DIR = os.path.join(ROOT, "code")

## Load Ground Truth

In [105]:
def load_ground_truth(foldername=os.path.join(ROOT,"data/") , filename="test_labels4-1.csv"): 

    ground_truth = pd.read_csv(foldername + filename)
    
    return ground_truth

In [106]:
ground_truth = load_ground_truth()
ground_truth.head()

   Unnamed: 0           TRIGGER_ID CLASS_SPECIES  Total CLASS_SPECIES_RESTATED
0           0  SSWI000000002741773     Porcupine      1                  other
1           1  SSWI000000004032002     Fox, Gray      1         foxgray_foxred
2           2  SSWI000000004068822     Fox, Gray      1         foxgray_foxred
3           3  SSWI000000004248668       Raccoon      1                raccoon
4           4  SSWI000000004277676     Fox, Gray      1         foxgray_foxred

In [109]:
def load_megadetector_output(foldername="results/JSON_txt_outputs/", filename='phase2_megadetector_classifications_yolosplits_4-1_YOLO.json'):#filename="phase2_megadetector_output_YOLO.json"): 
    """
    Pkg dependencies: os, glob, re, pandas
    Purpose: 
    Inputs: 
    Outputs: 
    """

    with open(os.path.join(ROOT,foldername, filename), 'r') as fin: 
        fobj = fin.read()
        megadetector = json.loads(fobj)

    event_list = []
    img_list = []
    detection_list = []

    for event, image_set in megadetector['phase2_classification_results'].items():
        for image in image_set:
            event_list.append(image['event_id'])
            img_list.append(image['img_id'])
            detection_list.append(image['detections'])

    megadetector_df = pd.DataFrame({'event_id': event_list,
                  'image_id':img_list, 
                  'detections':detection_list})

    def extract_yolo(list_of_detections):
        yolo_list = []

        for i in list_of_detections:
            yolo_list.append(i['bbox'])
        return yolo_list

    megadetector_df['yolo'] = megadetector_df['detections'].apply(lambda x: extract_yolo(x))
    megadetector_df['count'] = megadetector_df['yolo'].apply(lambda x: len(x))

    def extract_conf(list_of_detections):
        conf_list = []

        for i in list_of_detections:
            conf_list.append(i['conf'])
        return conf_list

    megadetector_df['all_conf'] = megadetector_df['detections'].apply(lambda x: extract_conf(x))
    megadetector_df['max_detection_conf'] = megadetector_df['all_conf'].apply(lambda x:  max(x) if len(x) > 0 else 0)
    megadetector_df['all_class_pred'] = megadetector_df['count'].apply(lambda x:[1]*x)
    
    
    return megadetector_df

In [110]:
megadetector = load_megadetector_output()

In [125]:
megadetector

,event_id,image_id,detections,yolo,count,all_conf,max_detection_conf,all_class_pred
0,SSWI000000019807656,SSWI000000019807656A.jpg,"[{'bbox': [0.5436, 0.4957, 0.8986, 0.9914], 'c...","[[0.5436, 0.4957, 0.8986, 0.9914], [0.8767, 0....",10,"[0.999, 0.627, 0.467, 0.334, 0.222, 0.18, 0.16...",0.999,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
1,SSWI000000019807656,SSWI000000019807656B.jpg,"[{'bbox': [0.8367, 0.527, 0.3227, 0.8099], 'co...","[[0.8367, 0.527, 0.3227, 0.8099], [0.2321, 0.2...",4,"[0.999, 0.833, 0.573, 0.156]",0.999,"[1, 1, 1, 1]"
2,SSWI000000019807656,SSWI000000019807656C.jpg,"[{'bbox': [0.8674, 0.3758, 0.2631, 0.4973], 'c...","[[0.8674, 0.3758, 0.2631, 0.4973], [0.2041, 0....",5,"[0.999, 0.857, 0.517, 0.345, 0.17]",0.999,"[1, 1, 1, 1, 1]"
3,SSWI000000020162423,SSWI000000020162423B.jpg,"[{'bbox': [0.9051, 0.7641, 0.1866, 0.4715], 'c...","[[0.9051, 0.7641, 0.1866, 0.4715]]",1,[0.999],0.999,[1]
4,SSWI000000020162423,SSWI000000020162423A.jpg,"[{'bbox': [0.8962, 0.7596, 0.2074, 0.4778], 'c...","[[0.8962, 0.7596, 0.2074, 0.4778]]",1,[0.999],0.999,[1]
...,...,...,...,...,...,...,...,...
4956,SSWI000000007972320,SSWI000000007972320A.jpg,"[{'bbox': [0.2733, 0.7588, 0.2554, 0.272], 'co...","[[0.2733, 0.7588, 0.2554, 0.272], [0.1058, 0.4...",2,"[0.999, 0.321]",0.999,"[1, 1]"
4957,SSWI000000007972320,SSWI000000007972320B.jpg,"[{'bbox': [0.5083, 0.6616, 0.355, 0.4526], 'co...","[[0.5083, 0.6616, 0.355, 0.4526], [0.1192, 0.4...",2,"[0.999, 0.194]",0.999,"[1, 1]"
4958,SSWI000000011771136,SSWI000000011771136C.jpg,"[{'bbox': [0.2859, 0.3655, 0.2553, 0.3508], 'c...","[[0.2859, 0.3655, 0.2553, 0.3508], [0.47, 0.36...",4,"[0.999, 0.998, 0.996, 0.987]",0.999,"[1, 1, 1, 1]"
4959,SSWI000000011771136,SSWI000000011771136A.jpg,"[{'bbox': [0.4886, 0.3638, 0.3084, 0.4075], 'c...","[[0.4886, 0.3638, 0.3084, 0.4075], [0.0562, 0....",2,"[0.999, 0.997]",0.999,"[1, 1]"
4960,SSWI000000011771136,SSWI000000011771136B.jpg,"[{'bbox': [0.3294, 0.3627, 0.262, 0.3588], 'co...","[[0.3294, 0.3627, 0.262, 0.3588], [0.4715, 0.3...",4,"[0.999, 0.996, 0.987, 0.172]",0.999,"[1, 1, 1, 1]"

In [140]:
def split_and_convert(s):
    """
    Purpose: Utility function used in load_yolo_output function for bounding box.  
    """
    new = []
    out = s.split(',')
    for i in out: 
        new.append(round(float(i), 4))
    return new
    
def load_yolo_output(foldername="results/JSON_txt_outputs/", filename="phase2_yolo_yolosplits4_1.txt"):
    """
    Pkg dependencies: os, glob, re, pandas
    Purpose: 
    Inputs: 
    Outputs: 
    
    """
 


    # Load yolo model output file 
    with open(os.path.join(ROOT, foldername, filename), 'r') as fin: 
        yolov5 = fin.readlines()

    # Parse through file and pick out filename and bounding box
    filenames = []
    bbox = []
    for line_num, line in enumerate(yolov5):
        newline = line.split("\n")[0]
        semicolon_idxs = [m.start() for m in re.finditer(";", newline)]
        bbox_start, bbox_end = re.search(r"Bbox\[list]:", newline).start(), re.search(r"Bbox\[list]:", newline).end()

        for i, idx in list(zip(range(0,len(semicolon_idxs)), semicolon_idxs)): 
            # Filename
            if i == 0:
                filenames.append(newline[:idx].split("Filename: ")[1])#.lstrip()[:-4])

        # Yolo Bounding box
        bbox_data = newline[bbox_end:].lstrip().split(';')[:-1]
        if len(bbox_data) == 0:
            bbox.append([])
        else: 
            subl = [split_and_convert(i) for i in bbox_data]
            bbox.append(subl)

    # Construct DataFrame
    yolov5 = pd.DataFrame([pd.Series(filenames), pd.Series(bbox)]).T
    yolov5.columns = ["image_id", "yolo_bbox"]
    yolov5.sort_values(by="image_id", inplace=True, ignore_index=True)
    yolov5['yolo_count'] = yolov5['yolo_bbox'].apply(lambda x: len(x))

    return yolov5

In [141]:
yolov5 = load_yolo_output()

In [122]:
yolov5

,image_id,yolo_bbox,yolo_count
0,2008329_0A.jpeg,"[[0.5517, 0.3845, 0.0638, 0.1064]]",1
1,2008329_1B.jpeg,"[[0.5532, 0.3815, 0.0547, 0.0881]]",1
2,2008329_2C.jpeg,[],0
3,2009625_0A.jpeg,[],0
4,2009625_1B.jpeg,[],0
...,...,...,...
4956,SSWI000000023514111B.jpg,"[[0.8161, 0.6261, 0.1185, 0.2675]]",1
4957,SSWI000000023514111C.jpg,"[[0.8131, 0.6064, 0.1064, 0.2036]]",1
4958,SSWI000000023514155A.jpg,"[[0.8769, 0.6261, 0.1307, 0.2736]]",1
4959,SSWI000000023514155B.jpg,"[[0.6839, 0.5426, 0.1581, 0.1368]]",1
4960,SSWI000000023514155C.jpg,"[[0.6109, 0.5, 0.1094, 0.0881]]",1

In [153]:
# Merge all - The image id will repeat 3 times
final_raw = megadetector_df.merge(yolo_df, left_on="image_id", right_on="image_id")
#final_raw.loc[:, 'event_id'] = final_raw['image_id'].apply(lambda x: x[:-1])
final_raw = ground_truth_df.merge(final_raw, left_on="TRIGGER_ID", right_on="event_id")
final_raw.rename(columns={'count':'md_count', 'Total':'ground_truth_count', 'yolo':'md_bbox', 
                           'all_class_pred':'md_all_class_pred', 'all_conf':'md_all_conf', 'max_detection_conf': 'md_max_detection_conf'}, inplace=True)
    #final_raw.drop(columns=['TRIGGER_ID'], inplace=True)
# final_raw.sort_values(by="image_id").reset_index(drop=True)
# final_raw = final_raw[['image_id','CLASS_SPECIES','CLASS_SPECIES_RESTATED','md_all_class_pred','md_all_conf','md_max_detection_conf', \
#            'md_bbox','yolo_bbox','ground_truth_count', 'md_count','yolo_count']]

In [154]:
final_raw

,Unnamed: 0,TRIGGER_ID,CLASS_SPECIES,ground_truth_count,CLASS_SPECIES_RESTATED,event_id,image_id,detections,md_bbox,md_count,md_all_conf,md_max_detection_conf,md_all_class_pred,yolo_bbox,yolo_count
0,0,SSWI000000002741773,Porcupine,1,other,SSWI000000002741773,SSWI000000002741773A.jpg,[],[],0,[],0.000,[],[],0
1,0,SSWI000000002741773,Porcupine,1,other,SSWI000000002741773,SSWI000000002741773B.jpg,[],[],0,[],0.000,[],[],0
2,0,SSWI000000002741773,Porcupine,1,other,SSWI000000002741773,SSWI000000002741773C.jpg,"[{'bbox': [0.1255, 0.5094, 0.1344, 0.08798], '...","[[0.1255, 0.5094, 0.1344, 0.08798]]",1,[0.962],0.962,[1],[],0
3,1,SSWI000000004032002,"Fox, Gray",1,foxgray_foxred,SSWI000000004032002,SSWI000000004032002B.jpg,"[{'bbox': [0.5119, 0.728, 0.07965, 0.1622], 'c...","[[0.5119, 0.728, 0.07965, 0.1622]]",1,[0.999],0.999,[1],"[[0.5122, 0.7264, 0.0942, 0.1702]]",1
4,1,SSWI000000004032002,"Fox, Gray",1,foxgray_foxred,SSWI000000004032002,SSWI000000004032002C.jpg,"[{'bbox': [0.4984, 0.683, 0.05721, 0.1576], 'c...","[[0.4984, 0.683, 0.05721, 0.1576]]",1,[0.997],0.997,[1],"[[0.497, 0.6763, 0.0699, 0.155]]",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5019,1673,3039286,blank,0,blank,3039286,3039286_0A.jpeg,"[{'bbox': [0.0305, 0.9459, 0.05864, 0.1038], '...","[[0.0305, 0.9459, 0.05864, 0.1038]]",1,[0.9],0.900,[1],"[[0.041, 0.9362, 0.0821, 0.1277]]",1
5020,1673,3039286,blank,0,blank,3039286,3039286_1B.jpeg,"[{'bbox': [0.0297, 0.9466, 0.05866, 0.1047], '...","[[0.0297, 0.9466, 0.05866, 0.1047]]",1,[0.961],0.961,[1],"[[0.041, 0.9362, 0.0821, 0.1277]]",1
5021,1674,2042734,blank,0,blank,2042734,2042734_0A.jpeg,[],[],0,[],0.000,[],[],0
5022,1674,2042734,blank,0,blank,2042734,2042734_1B.jpeg,[],[],0,[],0.000,[],[],0
5023,1674,2042734,blank,0,blank,2042734,2042734_2C.jpeg,[],[],0,[],0.000,[],[],0

## Merge YOLO, Megadetector and ground truth dataframes

In [151]:
def merge_all(yolo_df, megadetector_df, ground_truth_df): 
    """
    Pkg dependencies: pandas 
    Purpose: 
    Inputs: YOLO pd.DataFrame, Megadetector pd.DataFrame, ground truth pd.DataFrame
    Outputs: Merged pd.DataFrame of YOLO, Megadetector and ground truth
    """
    
    # Merge all - The image id will repeat 3 times
    final_raw = megadetector_df.merge(yolo_df, left_on="image_id", right_on="image_id")
    #final_raw.loc[:, 'event_id'] = final_raw['image_id'].apply(lambda x: x[:-1])
    final_raw = ground_truth_df.merge(final_raw, left_on="TRIGGER_ID", right_on="event_id")
    final_raw.rename(columns={'count':'md_count', 'Total':'ground_truth_count', 'yolo':'md_bbox', 
                              'all_class_pred':'md_all_class_pred', 'all_conf':'md_all_conf', 'max_detection_conf': 'md_max_detection_conf'}, inplace=True)
#     final_raw.drop(columns=['TRIGGER_ID'], inplace=True)
    final_raw.sort_values(by="image_id").reset_index(drop=True)
    final_raw = final_raw[['image_id','CLASS_SPECIES','CLASS_SPECIES_RESTATED','md_all_class_pred','md_all_conf','md_max_detection_conf', \
               'md_bbox','yolo_bbox','ground_truth_count', 'md_count','yolo_count']]
    
    # Merge megadetector to YOLO by "image_id"
    final = megadetector_df.merge(yolo_df, left_on="image_id", right_on="image_id")
    final.loc[:, 'image_id'] = final['image_id'].apply(lambda x: x[:-1])
    final.sort_values(by="image_id").reset_index(drop=True)
    
    
    # Group by imageid (there should be 3), take the max count across the imageid that compose the event
    gby_imageid = final.groupby(by='image_id').agg(['max'])
    counts_md = gby_imageid['count']
    counts_yolo = gby_imageid['yolo_count']
    
    # Merge ground truth to megadetector
    merged_md = ground_truth_df.merge(counts_md, left_on="TRIGGER_ID", right_on="image_id")
    merged_md.rename(columns={'max':'md_count'}, inplace=True)
    # Merge ground truth to yolo
    merged_yolo = ground_truth_df.merge(counts_yolo, left_on="TRIGGER_ID", right_on="image_id")
    merged_yolo.rename(columns={'max':'yolo_count'}, inplace=True)
    
    # Merge everything 
    merged_final = merged_yolo[['TRIGGER_ID', "CLASS_SPECIES", "Total", "CLASS_SPECIES_RESTATED", 'yolo_count']].merge(merged_md[['TRIGGER_ID','md_count']], left_on="TRIGGER_ID", right_on="TRIGGER_ID")
    merged_final = merged_final[['TRIGGER_ID', 'CLASS_SPECIES', "CLASS_SPECIES_RESTATED", "Total", "yolo_count", "md_count"]]
    merged_final.rename(columns={"Total":"ground_truth_count"}, inplace=True)
    merged_final.sort_values(by="TRIGGER_ID", inplace=True)
    
    # Differences across each of Choose 2 of 3
    merged_final['md_gt_diff'] = merged_final['md_count'] - merged_final['ground_truth_count']
    merged_final['yolo_gt_diff'] = merged_final['yolo_count'] - merged_final['ground_truth_count']
    merged_final['md_yolo_diff'] = merged_final['md_count'] - merged_final['yolo_count']
    
    return final_raw, merged_final

# Duplicates
# print(merged_final[merged_final.duplicated()].shape)

# ground_truth[ground_truth.duplicated()]
# ground_truth[ground_truth.TRIGGER_ID.duplicated(keep=False)].shape
# merged_final['Total'].sum()
# ground_truth[ground_truth.TRIGGER_ID.duplicated(keep=False)]

In [152]:
final_raw, merged_final = merge_all(yolov5, megadetector, ground_truth)

final_raw.head(40)
merged_final.head()

Empty DataFrame
Columns: [TRIGGER_ID, CLASS_SPECIES, CLASS_SPECIES_RESTATED, ground_truth_count, yolo_count, md_count, md_gt_diff, yolo_gt_diff, md_yolo_diff]
Index: []